.box-emoji {
  position: relative;
 .btn-emoji {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1000;
  border: 1px solid #e2e2e2;
  cursor:pointer;
  padding: .5rem;
  background: rgba(0,0,0,.1);
  transition: .2s ease-in-out;
  &:hover {
  background: rgba(0,0,0,.5);
}}}

.listEmoji {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 1rem;
  button {
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .2rem;
    &:hover {
      background: rgba(0,0,0,.2);
    }
  }
}