form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
  background: #f1f1f1;
  border-radius: 7px;
  label{
    display: block;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 1rem;
    color:#5e0341;
  }
 input, textarea {
  border: 1px solid #e2e2e2;

  width: 100%;
  height: 30px;
  border-radius: 7px;
  padding: 1rem;
  margin-bottom: 1rem;
}
 textarea {
  height: 150px;
  resize: none;
}
.btn {
  width: 100px;
  height: 50px;
  color: #fff;
  background: #5e0341;
  transition: .2s ease-in-out;
  border: none;
  outline: none;
  border-radius: 7px;
  cursor: pointer;
  &:hover {
    background: #cb1a93;
  }
}
}