*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

:root {
  --dark: rgb(72, 18, 18);
  --light: #f1f1f1;
  --btn-hover: rgb(227, 68, 68);
}

body {
  background: var(--dark);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}